<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Add student to course</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/topNav.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/kea.png">

</head>
<body>

    <div class="navbar">
        <header>
            <a href="/course/course_index"><img href="/course/course_index" src="/../../img/KEAlogo.png"></a>
            <div class="menu">
                <ul>
                    <nav>
                        <li><a href="/" class="hover-link">Students</a></li>
                        <li><a href="/student/create" class="hover-link">Create student</a></li>
                        <li><a href="/course/course_index" class="hover-link">Courses</a></li>
                        <li><a href="/course/cCreate" class="hover-link">Create course</a></li>
                    </nav>
                </ul>
            </div>
        </header>
    </div>

    <div class="container">

        <h1>Students</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>CPR</th>
                <th></th>
            </tr>

            <tr th:each="student : ${students}">
                <th th:text="${student.getId()}"></th>
                <th th:text="${student.getFirstName()}"></th>
                <th th:text="${student.getLastName()}"></th>
                <th th:text="${student.getCpr()}"></th>
                <th>
                    <a th:href="@{/course/cAddStu/add/__${course.id}__/__${student.id}__}">
                        <button class="btn">Add to course</button>
                    </a>
                </th>
            </tr>
        </table>
    </div>

</body>
</html>